<!DOCTYPE html>
<html>
<head>
    <title>Mango Python IDE</title>
	<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
<style>

.column_middle {
	float: left;
	width: 40%;
	padding: 10px;
	box-sizing: border-box;
}

.column_right {
	float: left;
	width: 30%;
	padding: 10px;
	box-sizing: border-box;
}

.column_left {
	float: left;
	width: 22%;
	padding: 10px;
	box-sizing: border-box;
	overflow-y: scroll;
	overflow-x: hidden;
	height: 600px;
	font-family: monospace;
}

.row::after {
	content: "";
	clear: both;
	display: table;
}

#my_file {
    display: none;
}

body {
    font-family: sans-serif;
    font-size: 12px;
}

h1 {
    font-size: 24px;
    font-weight: bold;
}

#code {
    width: 100%;
    height: 524px;
	font-size: 12px;
	resize: none;
	overflow-x: hidden;
}

#userInput {
    width: 100%;
    height: 75px;
	font-size: 12px;
    border: 1px solid #f5f2f0;
    padding: 10px;
	resize: none;
	background-color: #f5f2f0;
}

.button {
    margin-top: 10px;
    padding: 10px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
}

#output {
    width: 100%;
	font-family: monospace;
    border: 1px solid #f5f2f0;
    padding: 10px;
    white-space: pre-wrap;
	height: 425px;
	background-color: #f5f2f0;
	font-size: 12px;
	resize: none;
}

pre {
    font-size: 12px;
}


.drag-me {
  background-color: #ccc;
  color: black;
  border-radius: 10px;
  padding: 10px;
}

</style>
</head>

<body>

<header class="w3-container w3-padding-16 w3-light-grey">
<table><tr>
<td><a href="http://www.mangolearning.academy"><img src="{{url_for('static', filename='logo.png')}}" width="100"></a></td>
<td><H3>&nbsp &nbsp Mango Python IDE</H3></td>
</table>
</tr></div>
</header>

<div class="row">
    
<!--	<h1>Mango Python IDE</h1> -->
	<div class="column_left">
	<h4> Drag and drop the code elements into the editor </h4>
	<p>Input and Output</p>
	<pre class="drag-me"  draggable="true"><code class="language-python">print(" ")</code></pre>
	<pre class="drag-me"  draggable="true"><code class="language-python">answer = input()</code></pre>
    <pre class="drag-me"  draggable="true"><code class="language-python">number = int(input())</code></pre>
	<pre class="drag-me"  draggable="true"><code class="language-python">number = float(input())</code></pre>
	<p>Variables</p>
	<pre class="drag-me"  draggable="true"><code class="language-python">number_variable = 1</code></pre>
	<pre class="drag-me"  draggable="true"><code class="language-python">string_variable = ""</code></pre>
	<pre class="drag-me"  draggable="true"><code class="language-python">boolean_true = True</code></pre>
	<pre class="drag-me"  draggable="true"><code class="language-python">boolean_false= False</code></pre>
	<pre class="drag-me"  draggable="true"><code class="language-python">join_string = "Hello" + "World"</code></pre>
	<p>Arithmetic Operators</p>
	<pre class="drag-me"  draggable="true"><code class="language-python">add = a + b</code></pre>
	<pre class="drag-me"  draggable="true"><code class="language-python">subtract = a - b</code></pre>
	<pre class="drag-me"  draggable="true"><code class="language-python">divide = a / b</code></pre>
	<pre class="drag-me"  draggable="true"><code class="language-python">multiply = a * b</code></pre>
	<pre class="drag-me"  draggable="true"><code class="language-python">integer_division = a // b</code></pre>
	<pre class="drag-me"  draggable="true"><code class="language-python">remainder = a % b</code></pre>
	<p>Relational Operators</p>
	<pre class="drag-me"  draggable="true"><code class="language-python">boolean = a > b</code></pre>
	<pre class="drag-me"  draggable="true"><code class="language-python">boolean = a < b</code></pre>
	<pre class="drag-me"  draggable="true"><code class="language-python">boolean = a >= b</code></pre>
	<pre class="drag-me"  draggable="true"><code class="language-python">boolean = a <= b</code></pre>
	<pre class="drag-me"  draggable="true"><code class="language-python">boolean = a == b</code></pre>
	<pre class="drag-me"  draggable="true"><code class="language-python">boolean = a != b</code></pre>
	<p>Logical Operators</p>
	<pre class="drag-me"  draggable="true"><code class="language-python">expression1 and expression2</code></pre>
	<pre class="drag-me"  draggable="true"><code class="language-python">expression1 or expression2</code></pre>
	<pre class="drag-me"  draggable="true"><code class="language-python">not expression</code></pre>
	
	<p>Lists</p>
	<pre class="drag-me"  draggable="true"><code class="language-python">empty_list = []</code></pre>
	<pre class="drag-me"  draggable="true"><code class="language-python">items_list = [1,2,"a","b"]</code></pre>
	<pre class="drag-me"  draggable="true"><code class="language-python">list_2D = [[1,2],["a","b"]]</code></pre>
	<pre class="drag-me"  draggable="true"><code class="language-python">access_element = items[2]</code></pre>
	<p>Selection</p>
	<pre class="drag-me"  draggable="true"><code class="language-python">if condition:
	</code></pre>
	<pre class="drag-me"  draggable="true"><code class="language-python">if condition:
	
else:
	</code></pre>
	<pre class="drag-me"  draggable="true"><code class="language-python">if condition:
	
elif condition:
	
else:
	</code></pre>
     <p>Iteration</p>
	<pre class="drag-me"  draggable="true"><code class="language-python">for i in "string":
	</code></pre>
 	<pre class="drag-me"  draggable="true"><code class="language-python">for i in list_of_items:
	</code></pre>
	<pre class="drag-me"  draggable="true"><code class="language-python">for i in range():
	</code></pre>
	<pre class="drag-me"  draggable="true"><code class="language-python">while True:
	</code></pre>
    <p>Random</P>
 	<pre class="drag-me"  draggable="true"><code class="language-python">import random</code></pre>
	<pre class="drag-me"  draggable="true"><code class="language-python">randval = random.randint(1,10)</code></pre>
	<pre class="drag-me"  draggable="true"><code class="language-python">item = random.choice(itemList)</code></pre>
    <p>Subroutines</p>
	<pre class="drag-me"  draggable="true"><code class="language-python">def procedure():
	</code></pre>
    <pre class="drag-me"  draggable="true"><code class="language-python">procedure()</code></pre>
	<pre class="drag-me"  draggable="true"><code class="language-python">def procedure(param,..):
	</code></pre>
    <pre class="drag-me"  draggable="true"><code class="language-python">procedure(param,..)</code></pre>
	<pre class="drag-me"  draggable="true"><code class="language-python">def function(param,..):
	
	return</code></pre>
    <pre class="drag-me"  draggable="true"><code class="language-python">function(param,..)</code></pre>
	</div>
	
	
	<form action="/" method="POST" id="codeForm">
	<div class="column_middle">
	<button type="submit" form="codeForm" class="button">Run</button>
	<input type="button" class="button" id="clear-button" onclick="clearFields()" value="Clear"/>
	<input type="button" class="button" id="clear-button" onclick="saveFileAs()" value="Download"/>
	<input type="button" class="button" onclick="document.getElementById('my_file').click()" value="Open" />
	<input type="file" id="my_file"/><br>

	<code-input id="code" name="code" class="line-numbers" lang="python" value=''>{{ code }}</code-input>
	 
    </div>
   
	<div class="column_right">
    <textarea id="userInput" name="userInput" placeholder="User input goes here. Input needs to be on seperate lines." >{{ userInput }}</textarea> 
	</div>
    </form>
	
	<div class="column_right">
    <textarea readonly class="output" id="output">{{ output }}</textarea>
	</div>

</div>
 
 <footer class="w3-container w3-padding-16 w3-light-grey">
  <p><a href="http://www.mangolearning.academy">Mango Learning</a></p>
  <p>Contact us: <a href="hello@mangolearning.academy">hello@mangolearning.academy</a></p>
  <p><a href="https://computerscienceforteachers.blogspot.com/">Blog</a> | <a href="https://www.youtube.com/channel/UCVNSj737SoNgfalRl41QNxw">YouTube</a> | <a href="https://github.com/wmfgrey/MangoPython">Github</a> </p>
</footer>  
 
 
<script src="{{url_for('static', filename='prism.js')}}"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='prism.css') }}">

<script src="{{url_for('static', filename='code-input.js')}}"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='code-input.min.css') }}">

<!--Prism line numbers plugin-->
<script src="https://cdn.jsdelivr.net/npm/prismjs@1.29.0/plugins/line-numbers/prism-line-numbers.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/prismjs@1.29.0/plugins/line-numbers/prism-line-numbers.css"></link>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/WebCoder49/code-input@1.2/plugins/prism-line-numbers.min.css">

<script src="{{url_for('static', filename='indent.min.js')}}"></script>

<script>codeInput.registerTemplate("syntax-highlighted", codeInput.templates.prism(Prism, [new codeInput.plugins.Indent()]));</script>


<script>
document.querySelectorAll('.drag-me').forEach(el => {
  el.addEventListener('dragstart', e => {
    e.dataTransfer.setData('text/plain', e.target.textContent);
    e.dataTransfer.setData('text/html', e.target.outerHTML);
  });
});
</script>

<script>
function clearFields() {
 document.getElementById("code").value=""
 document.getElementById("userInput").value=""
 document.getElementById("output").value="Output appears here"
}

//document.getElementById("clear-button").onclick = clearFields;
</script>

<script>
function saveFileAs() {
	if (promptFilename = prompt("Save file as", "")) {
		var textBlob = new Blob([document.getElementById("code").value], {type:'text/plain'});
		var downloadLink = document.createElement("a");
		downloadLink.download = promptFilename;
		downloadLink.innerHTML = "Download File";
		downloadLink.href = window.URL.createObjectURL(textBlob);
		downloadLink.click();
    delete downloadLink;
    delete textBlob;
	}
}

//document.getElementById("save-button").onclick = saveFileAs;
</script>

    <script>
		
	let input = document.getElementById('my_file')
    let textarea = document.getElementById('code')
    input.addEventListener('change', () => {
    let files = input.files;
 
    if (files.length == 0) return;
 
    const file = files[0];
    let reader = new FileReader();
 
    reader.onload = (e) => {
        const file = e.target.result;
        const lines = file.split(/\r\n|\n/);
        textarea.value = lines.join('\n');
    };
 
    reader.onerror = (e) => alert(e.target.error.name);
    reader.readAsText(file);
});
	
	</script>

</body>
</html>
